<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include $(sys.CURRENTDIR)Variables.wxi ?>  
	<Product Id="{D121F4FC-965E-4A45-B3AA-3313956DEE1B}" Name="ACR Site Server Shell" Language="1033" Version="1.0.0.0" Manufacturer="ACR" UpgradeCode="4a3d7b8f-4323-4fb0-9b8e-519b75268d67">
    <Package Id='*' Keywords='Installer'
      Description="ACR's Site Server Installer"
      Comments='Site Server is a registered trademark of ACR.' Manufacturer='ACR'
      InstallerVersion='100' Languages='1033' Compressed='yes' SummaryCodepage='1252' />
  
		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate />

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />
    <Property Id="SHELL_PORT_NUMBER" Value ="2000" />
    <WixVariable Id="WixUILicenseRtf" Value="Path\License.rtf" />

    <Directory Id='TARGETDIR' Name='SourceDir'>
      <Directory Id='ProgramFilesFolder' Name='PFiles'>
        <Directory Id='ACR' Name='ACR'>
          <Directory Id='SiteServer' Name='SiteServer'>
            <Component Id="SiteServer" Guid="{A1F878B1-DC96-4747-B7C8-E0D52B01D0A8}">
              <RemoveFolder Id='SiteServer' On='uninstall' />
            </Component>
            <Directory Id='INSTALLDIR' Name='$(var.ShellRootDir)_$(var.Version)'>
              <Component Id='ConfigFile' Guid='{141FBE33-F635-45A5-86BE-81FC92807FAE}'>
                <File Id='ConfigFile' Name='Acr.SiteServer.Shell.exe.config' DiskId='1' Source='AcrSiteServerShell\config\Acr.SiteServer.Shell.exe.config' KeyPath='yes' />
              </Component>
            </Directory>
            <Directory Id='WEBROOTDIR' Name='wwwroot'>
              <Directory Id='SHELLWEBDIR' Name='$(var.ShellRootDir)_$(var.Version)'></Directory>
            </Directory>
          </Directory>
        </Directory>
      </Directory>
    </Directory>
    
    <Feature Id='ShellService' Title='Site Server Shell' Description='The service package.'
     Display='expand' Level='1'>
      <ComponentGroupRef  Id='ShellServicePackage'></ComponentGroupRef>
      <ComponentRef Id ='ConfigFile' ></ComponentRef>
      <ComponentGroupRef  Id='ShellWebPackage'></ComponentGroupRef>
      <ComponentRef Id ="SiteServer" ></ComponentRef>
    </Feature>

    <UI>
      <UIRef Id="WixUI_InstallDir" />
      <UIRef Id="WixUI_ErrorProgressText" />
      <Publish Dialog="InstallDirDlg" Control="Next" Event="NewDialog" Value="SettingsDlg">1</Publish>
      <Publish Dialog="SettingsDlg" Control="Back" Event="NewDialog" Value="InstallDirDlg">1</Publish>
      <Publish Dialog="SettingsDlg" Control="Next" Event="NewDialog" Value="FeaturesDlg">1</Publish>
      <Publish Dialog="FeaturesDlg" Control="Back" Event="NewDialog" Value="SettingsDlg">1</Publish>
    </UI>
    
    <InstallExecuteSequence>
      <Custom Action="ShellServiceInstall" Before='InstallFinalize'>NOT Installed</Custom>
      <Custom Action="ShellServiceStart" After="ShellServiceInstall">NOT Installed</Custom>
      <Custom Action="ShellServiceStop" Before='ShellServiceUninstall'>(NOT UPGRADINGPRODUCTCODE) AND (REMOVE="ALL")</Custom>
      <Custom Action="ShellServiceUninstall" Before="RemoveFiles">(NOT UPGRADINGPRODUCTCODE) AND (REMOVE="ALL")</Custom>
    </InstallExecuteSequence>
  </Product>
</Wix>
