<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <?include $(sys.CURRENTDIR)Variables.wxi ?>
  <Product Id="{110A8532-4709-4DB2-9591-570CE04D2916}" Name="ACR Site Server Shell" Language="1033" Version="1.0.0.0" Manufacturer="ACR" UpgradeCode="4a3d7b8f-4323-4fb0-9b8e-519b75268d67">
    <Package Id='*' Keywords='Installer'
      Description="ACR's Site Server Installer"
      Comments='Site Server is a registered trademark of ACR.' Manufacturer='ACR'
      InstallerVersion='100' Languages='1033' Compressed='yes' SummaryCodepage='1252' />

    <!-- <PropertyRef Id="NETFRAMEWORK47FULL"/>
    <PropertyRef Id="NETFRAMEWORK47FULLINSTALLROOTDIR"/>-->
    <!-- Verifies whether .NET Framework is installed -->
    <!-- <Condition Message="This application requires .NET Framework 4.7. Please install the .NET Framework then run this installer again.">
      <![CDATA[Installed OR NETFRAMEWORK47FULL]]>
    </Condition>-->

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate />

    <Directory Id='TARGETDIR' Name='SourceDir'>
      <Directory Id='ProgramFilesFolder' Name='PFiles'>
        <Directory Id='ACR' Name='ACR'>
          <Directory Id='SiteServer' Name='SiteServer'>
            <Component Id="SiteServer" Guid="{A1F878B1-DC96-4747-B7C8-E0D52B01D0A8}">
              <RemoveFolder Id='SITESERVER' On='uninstall' />
            </Component>
            <Directory Id="InstallUtil" Name="InstallUtil">
              <Component Id ='Package' Guid='{8561B164-5D16-47AA-999B-35E0D7233E5B}'>
                <File Id='PackageZip' Name='Acr.SiteServer.Shell.$(var.Version).zip' DiskId='1' Source="$(var.PackageSource)" KeyPath="yes"></File>
              </Component>
              <Component Id="InstallUtil" Guid="{EAE05B7C-5D18-4F2B-A33A-86204F80239A}">
                <RemoveFolder Id='InstallUtil' On='uninstall' />
              </Component>
            </Directory>
          </Directory>
        </Directory>
      </Directory>
    </Directory>

    <Feature Id='ShellService' Title='Site Server Shell' Description='The service package.'
     Display='expand' Level='1'>
      <ComponentRef Id ="SiteServer" ></ComponentRef>
      <ComponentRef Id ="Package" ></ComponentRef>
      <ComponentRef Id ="InstallUtil" ></ComponentRef>
      <ComponentGroupRef Id ="ShellInstallUtil"></ComponentGroupRef>
    </Feature>

    <UIRef Id="WixUI_Common" />
    <Property Id="WIXUI_INSTALLDIR" Value="SiteServer" />
    <Property Id="VERSION" Value="$(var.Version)" />
    <WixVariable Id="WixUIBannerBmp"  Value="$(var.ProjectDir)Resources\Bitmaps\bannrbmp.bmp"/>
    <WixVariable Id="WixUIDialogBmp" Value="$(var.ProjectDir)Resources\Bitmaps\dlgbmp.bmp"/>
    <WixVariable Id="WixUILicenseRtf" Value="$(var.ProjectDir)Resources\License\license.rtf"/>
    <UI>
      <Property Id="DefaultUIFont" Value="WixUI_Font_Normal" />
      <TextStyle Id="WixUI_Font_Normal" FaceName="Tahoma" Size="8" />
      <TextStyle Id="WixUI_Font_Bigger" FaceName="Tahoma" Size="12" />
      <TextStyle Id="WixUI_Font_Title" FaceName="Tahoma" Size="9" Bold="yes" />

      <Property Id="PIDTemplate" Value="####-####-####-####" />
      <Property Id="ARPNOMODIFY" Value="1" />

      <DialogRef Id="BrowseDlg" />
      <DialogRef Id="DiskCostDlg" />
      <DialogRef Id="ErrorDlg" />
      <DialogRef Id="FatalError" />
      <DialogRef Id="FilesInUse" />
      <DialogRef Id="MsiRMFilesInUse" />
      <DialogRef Id="PrepareDlg" />
      <DialogRef Id="ProgressDlg" />
      <DialogRef Id="ResumeDlg" />
      <DialogRef Id="UserExit" />
      <DialogRef Id="URLConfigDlg" />

      <Publish Dialog="ExitDialog" Control="Finish" Event="EndDialog" Value="Return" Order="999">1</Publish>
      <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="LicenseAgreementDlg" >1</Publish>
      <Publish Dialog="LicenseAgreementDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg">1</Publish>
      <Publish Dialog="LicenseAgreementDlg" Control="Next" Event="NewDialog" Value="InstallDirDlg">LicenseAccepted = "1"</Publish>

      <Publish Dialog="InstallDirDlg" Control="Back" Event="NewDialog" Value="LicenseAgreementDlg">1</Publish>
      <Publish Dialog="InstallDirDlg" Control="Next" Event="SetTargetPath" Value="[WIXUI_INSTALLDIR]" Order="1">1</Publish>
      <Publish Dialog="InstallDirDlg" Control="Next" Event="NewDialog" Value="CustomizeDlg" Order="2">1</Publish>
      <Publish Dialog="InstallDirDlg" Control="ChangeFolder" Property="_BrowseProperty" Value="[WIXUI_INSTALLDIR]" Order="1">1</Publish>
      <Publish Dialog="InstallDirDlg" Control="ChangeFolder" Event="SpawnDialog" Value="BrowseDlg" Order="2">1</Publish>

      <Publish Dialog="CustomizeDlg" Control="Back" Event="NewDialog" Value="MaintenanceTypeDlg" Order="1">Installed</Publish>
      <Publish Dialog="CustomizeDlg" Control="Back" Event="NewDialog" Value="InstallDirDlg" Order="2">NOT Installed</Publish>
      <Publish Dialog="CustomizeDlg" Control="Next" Event="NewDialog" Value="URLConfigDlg">1</Publish>

      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="URLConfigDlg" Order="1">NOT Installed</Publish>
      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="MaintenanceTypeDlg" Order="2">Installed</Publish>

      <Publish Dialog="MaintenanceWelcomeDlg" Control="Next" Event="NewDialog" Value="MaintenanceTypeDlg">1</Publish>
      <Publish Dialog="MaintenanceTypeDlg" Control="RepairButton" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
      <Publish Dialog="MaintenanceTypeDlg" Control="RemoveButton" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
      <Publish Dialog="MaintenanceTypeDlg" Control="Back" Event="NewDialog" Value="MaintenanceWelcomeDlg">1</Publish>
    </UI>

    <InstallExecuteSequence>
      <Custom Action="ShellServiceInstall" Before='InstallFinalize'>NOT Installed</Custom>
      <Custom Action="ShellServiceUninstall" Before="RemoveFiles">(NOT UPGRADINGPRODUCTCODE) AND (REMOVE="ALL")</Custom>
    </InstallExecuteSequence>
  </Product>
</Wix>
