<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

	<Fragment>
    <UI Id="SettingsDlgUI">

      <Property Id="Proceed">proceedbtn</Property>
      <Dialog Id="SettingsDlg" Width="400" Height="300" Title="Site Server Shell : Configuration">

        
        <Control Id="headerText"  Type="Text" X="65" Y="10" Width="350" Height="40" Transparent="yes" Text="{TahomaBig}Shell Configuration" />

        <Control Id="explanationText" X="85" Y="75" NoWrap="no" RightAligned="no" Transparent="yes" Type="Text" Width="250" Height="100" Text="{TahomaNormal}Site Server Shell requires some configuration to make the Shell website accessible" />

        <Control Id="nameLabel" Type="Text" X="85" Y="120" Height="17" Width="65" Transparent="yes" Text="{TahomaNormal}Please specify a port number for Site Server Shell website:" />
        <Control Id="nameTextbox" Type="Edit" X="150" Y="117"  Height="17" Width="120" Property="SHELL_PORT_NUMBER"  />

        <Control Id="Next" Type="PushButton" Text="[Next]" Height="62" Width="222" X="90" Y="180"></Control>
        <Control Id="Back" Type="PushButton" Text="[Back]" Height="62" Width="222" X="10" Y="180"></Control>
        <Control Id="cancelButton" Type="PushButton" Text="[Cancel]" Height="40" Width="144" X="135" Y="245" Cancel="yes" Bitmap="yes">
          <Publish Event="EndDialog" Value="Exit" />
        </Control>

      </Dialog>

    </UI>
	</Fragment>
</Wix>
